body {
  margin: 20px;
}

svg {
  outline-offset: 2px;
}

h1 {
  z-index: 999;
  position: relative;
}

#home-chart-icons {
  margin-top: -50px;
  z-index: -999;
}

.hover-icons {
  margin: 100px;
  width: 100px;
}

.zoom {
  transition: transform 0.3s; /* Animation */
}

.zoom:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
